@model CompanyAddressBook.Models.ViewModels.CompaniesAndContact

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="contact.Name" class="control-label"></label>
                <input asp-for="contact.Name" class="form-control" />
                <span asp-validation-for="contact.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact.Phone" class="control-label"></label>
                <input asp-for="contact.Phone" class="form-control" />
                <span asp-validation-for="contact.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact.Age" class="control-label"></label>
                <input asp-for="contact.Age" class="form-control" />
                <span asp-validation-for="contact.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact.Company" class="control-label"></label>
                <select asp-for="contact.Company" asp-items="@Model.companies" class="form-control"></select>
                <span asp-validation-for="contact.Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
